@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$font-weights: (
	"regular": 400,
	"bold": 700,
);

$primary-font-inter: "Inter", sans-serif;
$secondary-font-lexend: "Lexend Deca", sans-serif;
